header
	div
		h1= title
	div
		form.searchBox
			input(type="search", placeholder="keyword")
			input(type="submit", value="Search")
#content
	#contentBox
		p Welcome to #{title}. Enter keywords and hit search button!
		form.searchBox
			input(type="search", placeholder="enter keywords")
			input(type="submit", value="Search")
		.container	
			p.next
				a(href=".") Next
footer
	p (ɔ) 2011 #{title}. Some rights reserved.
