header
	div
		h1= title
	div
		form.searchBox
			input(type="search", placeholder="keyword")
			input(type="submit", value="Search")

.loading loading...

#content
	#contentBox
		p Welcome to #{title}. Enter keywords and hit search button!
		form.searchBox
			input(type="search", placeholder="enter keywords")
			input(type="submit", value="Search")
footer.clearfix
	.credit (ɔ) 2011 #{title}. Some rights reserved.
	.buttons
		<a href="http://b.hatena.ne.jp/entry/http://infinigram.cloudfoundry.com/" class="hatena-bookmark-button" data-hatena-bookmark-title="infinigram" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
		<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Finfinigram.cloudfoundy.com%2F&amp;send=true&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=segoe+ui&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
		<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://infinigram.cloudfounry.com/" data-count="horizontal" data-via="infinigram">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
