!!! 5
html
	head
		meta(charset="UTF-8")
		title= title
		<meta property="og:title" content="infinigram" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://infinigram.cloudfoundry.com/" />
		<meta property="og:image" content="" />
		<meta property="og:site_name" content="infinigram" />
		<meta property="fb:admins" content="100001953096237" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		link(rel="stylesheet", href="https://github.com/paulirish/html5-boilerplate/raw/e4edeff4fa1aa8c81f495e2d75527584a29e83fb/css/style.css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Bevan")
		link(rel="stylesheet", href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://github.com/Modernizr/Modernizr/raw/v1.7/modernizr.js")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js")
		script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.js")
		script(src="http://documentcloud.github.com/underscore/underscore.js")
		script(src="http://documentcloud.github.com/backbone/backbone.js")
		// script(src="/javascripts/libs/jquery.masonry.js")
		// script(src="/javascripts/libs/jquery.infinitescroll.js")
		// script(src="https://github.com/paulirish/infinite-scroll/raw/master/jquery.infinitescroll.js")
		script(src="https://github.com/desandro/isotope/raw/master/jquery.isotope.js")
		script(src="/javascripts/libs/jquery.autopager-1.0.0.js")
		script(src="https://github.com/neave/touch-scroll/raw/master/touch-scroll.js")
		script(src="/javascripts/site.js")
	body!= body
