$header-height = 60px
$footer-height = 30px
$document-width = 100%
$min-document-width = 960px

$z-index-foreground = 100
$z-index-image-hover = 101
$z-index-loading = 200

$image-size = 120px
$image-margin = 3px

vendor(prop, args)
	// http://peter.sh/experiments/vendor-prefixed-css-property-overview/
	-webkit-{prop} args
	-moz-{prop} args
	-o-{prop} args
	-ms-{prop} args
no-flickering()
	// http://hamalog.tumblr.com/post/5011193654/ios-css
	vendor("transform", "translate3d(0, 0, 0)");
transform()
	vendor("transform", arguments)
transition()
	vendor("transition", arguments)
	no-flickering()

.clearfix
	zoom 1
	&:before
		content: "\0020";
		display: block;
		height: 0;
		visibility: hidden; 
	&:after
		clear: both;

#nfscr-loading
	z-index: 5000 
	position: fixed;
	left: 40%;
	bottom: 40px;
	width: 200px;
	height: 100px;
	padding: 10px;
	background: #000; 
	opacity: 0.8;
	color: #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

body
	width $document-width
	min-width $min-document-width
	margin auto
	font-size 75%
	font-family "Segoe UI"

#content
	width $docunent-width
	min-width $min-document-width
	margin $header-height 0 $footer-height 0
	min-height 100%
	display table-cell
	vertical-align middle

header
	display block
	top 0
	position fixed
	width $document-width
	min-width $min-document-width
	height $header-height
	z-index $z-index-foreground
	h1
		font-family "Bevan", serif
	div
		display table-cell
		vertical-align middle
	div:first-child
		width 75%
	div:last-child
		width 25%
		form
			width 100%
			text-align right

$image-base-size = 100px

.container
	width $document-width
	min-width $min-document-width
	div.box
		background-position center center
		background-repeat no-repeat
		background-color lightgray
		margin $image-margin
		padding $image-margin
		img
			transition(0.2s ease-out)
		img:hover
			transform(scale(1.2))
			z-index $z-index-image-hover
		img.row
			width $image-base-size * 2 - 6
			height $image-base-size * 2 - 6
		img.standard
			width $image-base-size * 4 - 12
			height $image-base-size * 4 - 12
		img.thumbnail
			width $image-base-size
			height $image-base-size

footer
	bottom 0
	display block
	position fixed
	width $document-width
	min-width $min-document-width
	height $footer-height
	background-color white
	z-index $z-index-foreground
	.credit
		float left
