.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
#nfscr-loading {
  z-index: 5000;
  position: fixed;
  left: 40%;
  bottom: 40px;
  width: 200px;
  height: 100px;
  padding: 10px;
  background: #000;
  opacity: 0.8;
  color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
body {
  width: 100%;
  min-width: 960px;
  margin: auto;
  font-size: 75%;
  font-family: "Segoe UI";
}
#content {
  width: $docunent-width;
  min-width: 960px;
  margin: 60px 0 30px 0;
  min-height: 100%;
  display: table-cell;
  vertical-align: middle;
}
header {
  display: block;
  top: 0;
  position: fixed;
  width: 100%;
  min-width: 960px;
  height: 60px;
  z-index: 100;
}
header h1 {
  font-family: "Bevan", serif;
}
header div {
  display: table-cell;
  vertical-align: middle;
}
header div:first-child {
  width: 75%;
}
header div:last-child {
  width: 25%;
}
header div:last-child form {
  width: 100%;
  text-align: right;
}
.container {
  width: 100%;
  min-width: 960px;
}
.container div.box {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #d3d3d3;
  margin: 3px;
  padding: 3px;
}
.container div.box img {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -webkit-transform: "translate3d(0, 0, 0)";
  -moz-transform: "translate3d(0, 0, 0)";
  -o-transform: "translate3d(0, 0, 0)";
  -ms-transform: "translate3d(0, 0, 0)";
}
.container div.box img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  z-index: 101;
}
.container div.box img.row {
  width: 194px;
  height: 194px;
}
.container div.box img.standard {
  width: 388px;
  height: 388px;
}
.container div.box img.thumbnail {
  width: 100px;
  height: 100px;
}
footer {
  bottom: 0;
  display: block;
  position: fixed;
  width: 100%;
  min-width: 960px;
  height: 30px;
  background-color: #fff;
  z-index: 100;
}
footer .credit {
  float: left;
}
